#env and bs
.env
build
node_modules
.DS_Store

# vscode
.vscode
*code-workspace

# andre
.vite
frontend/**/*.js
!profile.ts
chat/database/messages/*.jsonl
chat/database/notifications/*.jsonl

# alex
backend/user/userManagement/uploads/*.png
backend/user/userManagement/uploads/*.jpeg
backend/user/userManagement/uploads/*.jpg
!backend/user/userManagement/uploads/default.jpeg

# miguel
game-project/node_modules
game-project/src/*.js
game-project/dist/*.js
*.db
