<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
</head>
<body>
    <h1>Perfil do Usuário</h1>

    <ul>
        <li><strong>Nome:</strong> {{ user.first_name }} {{ user.last_name }}</li>
        <li><strong>Idade:</strong> {{ user.age }}</li>  <!-- Supondo que 'age' seja um campo no seu modelo -->
        <li><strong>Nome de Usuário:</strong> {{ user.username }}</li>
        <li><strong>Email:</strong> {{ user.email }}</li>
    </ul>

</body>
</html>
