
/* red, orange, amber, yellow, lime, green, emerald, teal, cyan, sky, blue, indigo, violet, purple, fuchsia, pink, rose, slate, gray, zinc, neutral, stone, */
@theme static {
	--color-c-red-bg: theme(colors.red.100);
	--color-c-red-text: theme(colors.red.800);
	--color-c-red-primary: theme(colors.red.600);
	--color-c-red-secondary: theme(colors.red.400);
	--color-c-orange-bg: theme(colors.orange.100);
	--color-c-orange-text: theme(colors.orange.800);
	--color-c-orange-primary: theme(colors.orange.600);
	--color-c-orange-secondary: theme(colors.orange.400);
	--color-c-amber-bg: theme(colors.amber.100);
	--color-c-amber-text: theme(colors.amber.800);
	--color-c-amber-primary: theme(colors.amber.600);
	--color-c-amber-secondary: theme(colors.amber.400);
	--color-c-yellow-bg: theme(colors.yellow.100);
	--color-c-yellow-text: theme(colors.yellow.800);
	--color-c-yellow-primary: theme(colors.yellow.600);
	--color-c-yellow-secondary: theme(colors.yellow.400);
	--color-c-lime-bg: theme(colors.lime.100);
	--color-c-lime-text: theme(colors.lime.800);
	--color-c-lime-primary: theme(colors.lime.600);
	--color-c-lime-secondary: theme(colors.lime.400);
	--color-c-green-bg: theme(colors.green.100);
	--color-c-green-text: theme(colors.green.800);
	--color-c-green-primary: theme(colors.green.600);
	--color-c-green-secondary: theme(colors.green.400);
	--color-c-emerald-bg: theme(colors.emerald.100);
	--color-c-emerald-text: theme(colors.emerald.800);
	--color-c-emerald-primary: theme(colors.emerald.600);
	--color-c-emerald-secondary: theme(colors.emerald.400);
	--color-c-teal-bg: theme(colors.teal.100);
	--color-c-teal-text: theme(colors.teal.800);
	--color-c-teal-primary: theme(colors.teal.600);
	--color-c-teal-secondary: theme(colors.teal.400);
	--color-c-cyan-bg: theme(colors.cyan.100);
	--color-c-cyan-text: theme(colors.cyan.800);
	--color-c-cyan-primary: theme(colors.cyan.600);
	--color-c-cyan-secondary: theme(colors.cyan.400);
	--color-c-sky-bg: theme(colors.sky.100);
	--color-c-sky-text: theme(colors.sky.800);
	--color-c-sky-primary: theme(colors.sky.600);
	--color-c-sky-secondary: theme(colors.sky.400);
	--color-c-blue-bg: theme(colors.blue.100);
	--color-c-blue-text: theme(colors.blue.800);
	--color-c-blue-primary: theme(colors.blue.600);
	--color-c-blue-secondary: theme(colors.blue.400);
	--color-c-indigo-bg: theme(colors.indigo.100);
	--color-c-indigo-text: theme(colors.indigo.800);
	--color-c-indigo-primary: theme(colors.indigo.600);
	--color-c-indigo-secondary: theme(colors.indigo.400);
	--color-c-violet-bg: theme(colors.violet.100);
	--color-c-violet-text: theme(colors.violet.800);
	--color-c-violet-primary: theme(colors.violet.600);
	--color-c-violet-secondary: theme(colors.violet.400);
	--color-c-purple-bg: theme(colors.purple.100);
	--color-c-purple-text: theme(colors.purple.800);
	--color-c-purple-primary: theme(colors.purple.600);
	--color-c-purple-secondary: theme(colors.purple.400);
	--color-c-fuchsia-bg: theme(colors.fuchsia.100);
	--color-c-fuchsia-text: theme(colors.fuchsia.800);
	--color-c-fuchsia-primary: theme(colors.fuchsia.600);
	--color-c-fuchsia-secondary: theme(colors.fuchsia.400);
	--color-c-pink-bg: theme(colors.pink.100);
	--color-c-pink-text: theme(colors.pink.800);
	--color-c-pink-primary: theme(colors.pink.600);
	--color-c-pink-secondary: theme(colors.pink.400);
	--color-c-rose-bg: theme(colors.rose.100);
	--color-c-rose-text: theme(colors.rose.800);
	--color-c-rose-primary: theme(colors.rose.600);
	--color-c-rose-secondary: theme(colors.rose.400);
	--color-c-slate-bg: theme(colors.slate.100);
	--color-c-slate-text: theme(colors.slate.800);
	--color-c-slate-primary: theme(colors.slate.600);
	--color-c-slate-secondary: theme(colors.slate.400);
	--color-c-gray-bg: theme(colors.gray.100);
	--color-c-gray-text: theme(colors.gray.800);
	--color-c-gray-primary: theme(colors.gray.600);
	--color-c-gray-secondary: theme(colors.gray.400);
	--color-c-zinc-bg: theme(colors.zinc.100);
	--color-c-zinc-text: theme(colors.zinc.800);
	--color-c-zinc-primary: theme(colors.zinc.600);
	--color-c-zinc-secondary: theme(colors.zinc.400);
	--color-c-neutral-bg: theme(colors.neutral.100);
	--color-c-neutral-text: theme(colors.neutral.800);
	--color-c-neutral-primary: theme(colors.neutral.600);
	--color-c-neutral-secondary: theme(colors.neutral.400);
	--color-c-stone-bg: theme(colors.stone.100);
	--color-c-stone-text: theme(colors.stone.800);
	--color-c-stone-primary: theme(colors.stone.600);
	--color-c-stone-secondary: theme(colors.stone.400);
}
