@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* All the following styles are only on tw.css
bg- (excluding settings)
text- (excluding game/page and auth)
border (excluding chat/page)
hover:border-
focus:border- (excluding auth)
*/

/* theme */
@theme static {
	/* 0 = lighter, 1000 = darker */
	--color-c-bg: var(--color-d-c-bg); /* background */
	--color-c-text: var(--color-d-c-text); /* text */
	--color-c-primary: var(--color-d-c-primary); /* border hover */
	--color-c-secondary: var(--color-d-c-secondary); /* border */
	--color-d-c-bg: theme(colors.white);
	--color-d-c-text: theme(colors.stone.800);
	--color-d-c-primary: theme(colors.stone.600);
	--color-d-c-secondary: theme(colors.stone.400);
	--color-g-c-bg: theme(colors.black);
	--color-g-c-text: theme(colors.green.600);
	--color-g-c-primary: theme(colors.green.400);
	--color-g-c-secondary: theme(colors.green.800);
}

@layer components {
	.t-border {
		@apply border-2 text-c-text border-c-secondary hover:border-c-primary
			dark:text-c-bg dark:border-c-primary dark:hover:border-c-secondary;
	}
	.t-dashed { /* dashed rounded border */
		@apply border-2 text-c-text border-c-secondary hover:border-c-primary border-dashed rounded-3xl
			dark:text-c-bg dark:border-c-primary dark:hover:border-c-secondary;
	}
	.item {
		@apply m-1 p-2;
	}
	.card {
		@apply gap-4 m-2.5 p-10 text-center;
	}
}

@layer utilities {
	input:-webkit-autofill {
		transition: background-color 100000s ease-in-out 0s;
		box-shadow: 0 0 0px 1000px rgb(225, 245, 255) inset !important;
	}
}

/* global */
body {
	@apply bg-c-bg select-none dark:bg-black;
}

h1 {
	@apply font-bold;
}

img {
	@apply pointer-events-none;
}

input, textarea {
	@apply outline-none;
}

/* other */
.sidebar-component {
	@apply flex p-3 rounded-2xl justify-between items-center w-full transition-all
		text-c-text dark:text-c-bg hover:bg-c-secondary dark:hover:bg-c-primary;
}

/* toast */
#toast-container {
	@apply flex flex-col-reverse gap-2 w-xs fixed -top-4 right-4 pt-8;
}

#toast {
	@apply flex p-4 rounded-lg shadow-lg border-2 select-all;
	animation: toast-animation 3000ms forwards;
	/* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
}
.toast-default {
	@apply bg-c-bg text-c-text border-c-secondary hover:border-c-primary
	dark:bg-black dark:text-c-bg dark:border-c-primary dark:hover:border-c-secondary;
}
.toast-green {
	@apply bg-green-100 text-green-800 border-green-400 hover:border-green-800
	dark:bg-green-950 dark:text-green-100 dark:border-green-700 dark:hover:border-green-300;
}
.toast-red {
	@apply bg-red-100 text-red-800 border-red-400 hover:border-red-800
	dark:bg-red-950 dark:text-red-100 dark:border-red-700 dark:hover:border-red-300;
}
.toast-blue {
	@apply bg-blue-100 text-blue-800 border-blue-400 hover:border-blue-800
	dark:bg-blue-950 dark:text-blue-100 dark:border-blue-700 dark:hover:border-blue-300;
}
.toast-yellow {
	@apply bg-yellow-100 text-yellow-800 border-yellow-400 hover:border-yellow-800
	dark:bg-yellow-950 dark:text-yellow-100 dark:border-yellow-700 dark:hover:border-yellow-300;
}

@keyframes toast-animation {
	0%, 100% { opacity: 0; transform: translateY(-30px); }
	10%, 90% { opacity: 1; transform: translateY(0); }
}

/* game */
.g-t-border {
	@apply border-2 text-g-c-text border-g-c-secondary hover:border-g-c-primary;
}
.g-t-border-alt {
	@apply border-2 text-g-c-text border-orange-700 hover:border-orange-500;
}

canvas {
	@apply absolute top-1/2 left-1/2 z-10 transform -translate-1/2 border-2 border-g-c-text;
}

#scoreboard {
	@apply absolute top-12 left-1/2 text-3xl font-bold transform -translate-x-1/2 text-g-c-text;
}

#main-menu-title {
	animation: glow 2s infinite alternate;
	text-shadow: 0 0 10px green, 0 0 20px lime, 0 0 30px lime, 0 0 40px lime;
}

@keyframes glow {
	0% { text-shadow: 0 0 10px black, 0 0 20px lime, 0 0 30px lime; }
	100% { text-shadow: 0 0 20px black, 0 0 30px lime, 0 0 40px lime; }
}

/* dashboard menu animation */
@keyframes ball-animation {
	0%, 100% {
		bottom: 15%;
		left: 50%;
	}
	25% {
		bottom: 50%;
		left: var(--ball-end);
	}
	50% {
		bottom: 96%;
		left: 50%;
	}
	75% {
		bottom: 50%;
		left: 0%;
	}
}

:root {
	--btn-width: 7rem;
	--btn-start: 0%;
	--btn-end: calc(100% - var(--btn-width));
	--btn-half: calc((var(--btn-end) - var(--btn-start)) / 2);
	--ball-end: calc(100% - 1rem);
}

@keyframes btn-animation {
	0%, 100% {
		left: var(--btn-half);
	}
	25% {
		left: var(--btn-end);
	}
	50% {
		left: var(--btn-half);
	}
	75% {
		left: var(--btn-start);
	}
}
