@import "tailwindcss";

@theme static {
	--color-lighter: theme(colors.stone.100);
	--color-light: theme(colors.stone.400);
	--color-dark: theme(colors.stone.600);
	--color-darker: theme(colors.stone.800);
}

body {
	@apply bg-lighter select-none;
}

#toast-container {
	@apply flex flex-col-reverse gap-2 w-xs fixed -top-4 right-4 pt-8;
}

#toast {
	@apply flex p-4 rounded-lg shadow-lg border-2 select-all;
	animation: toast-animation 3000ms forwards;
	/* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
}

.theme {
	@apply text-dark border-light hover:border-darker focus:outline-none;
}

.dash-component {
	@apply gap-4 m-2.5 text-center border-dashed rounded-3xl border-2 text-dark border-light hover:border-darker focus:outline-none;
}
.sidebar-list {
	@apply flex flex-col h-full;
}
.sidebar-component {
	@apply flex p-3 rounded-2xl justify-between items-center w-full hover:bg-light transition-all;
}

.profile-header {
	@apply flex gap-16;
}

img {
	@apply pointer-events-none;
}

@keyframes toast-animation {
	0%, 100% { opacity: 0; transform: translateY(-30px); }
	10%, 90% { opacity: 1; transform: translateY(0); }
}

/* game */
.game-component {
	@apply m-1 px-4 py-2 border-2 text-dark border-light hover:border-darker focus:outline-none;
}

canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	@apply border-2 border-dark;
}

#scoreboard {
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 30px;
	font-weight: bold;
	@apply text-dark;
}
